xml-resources/web-service-references/CalculatorWS/wsdl/localhost_8080/CalculatorWS/CalculatorWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Calculator/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Calculator/" name="CalculatorWS">
<types>
<xsd:schema>
<xsd:import namespace="http://Calculator/" schemaLocation="http://localhost:8080/CalculatorWS/CalculatorWS?xsd=1"/>
</xsd:schema>
</types>
<message name="add">
<part name="parameters" element="tns:add"/>
</message>
<message name="addResponse">
<part name="parameters" element="tns:addResponse"/>
</message>
<message name="mult">
<part name="parameters" element="tns:mult"/>
</message>
<message name="multResponse">
<part name="parameters" element="tns:multResponse"/>
</message>
<message name="resta">
<part name="parameters" element="tns:resta"/>
</message>
<message name="restaResponse">
<part name="parameters" element="tns:restaResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="div">
<part name="parameters" element="tns:div"/>
</message>
<message name="divResponse">
<part name="parameters" element="tns:divResponse"/>
</message>
<portType name="CalculatorWS">
<operation name="add">
<input wsam:Action="http://Calculator/CalculatorWS/addRequest" message="tns:add"/>
<output wsam:Action="http://Calculator/CalculatorWS/addResponse" message="tns:addResponse"/>
</operation>
<operation name="mult">
<input wsam:Action="http://Calculator/CalculatorWS/multRequest" message="tns:mult"/>
<output wsam:Action="http://Calculator/CalculatorWS/multResponse" message="tns:multResponse"/>
</operation>
<operation name="resta">
<input wsam:Action="http://Calculator/CalculatorWS/restaRequest" message="tns:resta"/>
<output wsam:Action="http://Calculator/CalculatorWS/restaResponse" message="tns:restaResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://Calculator/CalculatorWS/helloRequest" message="tns:hello"/>
<output wsam:Action="http://Calculator/CalculatorWS/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="div">
<input wsam:Action="http://Calculator/CalculatorWS/divRequest" message="tns:div"/>
<output wsam:Action="http://Calculator/CalculatorWS/divResponse" message="tns:divResponse"/>
</operation>
</portType>
<binding name="CalculatorWSPortBinding" type="tns:CalculatorWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="add">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="mult">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="resta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="div">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CalculatorWS">
<port name="CalculatorWSPort" binding="tns:CalculatorWSPortBinding">
<soap:address location="http://localhost:8080/CalculatorWS/CalculatorWS"/>
</port>
</service>
</definitions>